---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Article from "../components/icons/Article.astro"

const ARTICLES = [
  {
    img: "https://midu.dev/images/tags/javascript.png",
    title: "Cómo leer el contenido de un directorio en Deno",
    date: "9 de diciembre 2018",
  },
  {
    img: "https://midu.dev/images/tags/javascript.png",
    title: "¿Por qué forEeach es más rápido que for en JavaScript?",
    date: "9 de diciembre 2018",
  },
  {
    img: "https://midu.dev/images/tags/javascript.png",
    title: "Cómo resolver todas las promesas en JavaScript",
    date: "9 de diciembre 2018",
  },
  {
    img: "https://midu.dev/images/tags/javascript.png",
    title: "Cómo añadir un cero a la izquierda de un número en JavaScript",
    date: "9 de diciembre 2018",
  },
  {
    img: "https://midu.dev/images/tags/javascript.png",
    title: "TITULO DE PRUEBA",
    date: "9 de diciembre 2018",
  },
];
---

<Layout title="David Barrios">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <SectionContainer>
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Article class="size-8" />
        Últimos árticulos
      </h2>
      <ol class="relative flex flex-col gap-1">
        {
          ARTICLES.map((a) => {
            return (
              <li class="flex flex-row gap-3 px-4 py-2 hover:bg-gray-500/50 rounded-lg group items-center hover:cursor-pointer">
                <div class="transform transition duration-500 group-hover:scale-110">
                  <img
                    src={a.img}
                    alt={a.title}
                    class="size-12 max-w-12 object-contain"
                  />
                </div>
                <div>
                  <h3 class="font-semibold text-lg text-gray-600 dark:text-white">
                    {a.title}
                  </h3>
                  <span class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">
                    {a.date}
                  </span>
                </div>
              </li>
            );
          })
        }
      </ol>

      <div class="flex flex-row gap-5 px-10 py-5">
        <p class="hover:underline cursor-pointer">{"< Anterior"}</p>
        {"-"}
        <p class="hover:underline cursor-pointer">{"Siguiente >"}</p>
      </div>
    </SectionContainer>
  </main>
</Layout>
